/* =====================================================

todoForm

===================================================== */

.todoForm {
  padding-top: 20px;
  vertical-align: middle;
}

.todoFormInput {
  width: 60%;
  padding: 4px 8px;
  font-size: 20px;
  color: #616161;
  border-radius: 3px;
  border-color: #BDBDBD;
  border-width: 1px;
  outline: none;
}

.todoFormSubmit {
  height: 33px;
  margin-left: 16px;
  padding: 4px 16px;
  font-size: 16px;
  color: #616161;
  background-color: #E0E0E0;
  border-radius: 3px;
  border-color: #BDBDBD;
  border-width: 1px;
  vertical-align: top;
  outline: none;
}

/* =====================================================

todos

===================================================== */

.todos {
  padding: 0;
  width: 100%;
  list-style: none;
}

.todosTodo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 16px;
  background-color: #E0E0E0;
  margin-top: 12px;
  color: #616161;
  border-radius: 3px;
}

.todosCompletedCheckBox {
  display: block;
  margin-right: 20px;
}

.todosContent {
  word-break: break-all;
  font-size: 20px;
  line-height: 1.4;
}

.todosRemoveBtn {
  display: block;
  margin-left: 20px;
}