.todoApp {
  box-sizing: border-box;
  width: 640px;
  height: auto;
  margin: 0 auto;
  padding: 40px 0 0;
}

.todoAppTitle {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  color: #616161;
}

.todoAppTodos {
  padding: 0;
  width: 100%;
  list-style: none;
}

.todoAppTodo {
  padding: 20px 16px;
  background-color: #E0E0E0;
  margin-top: 12px;
  color: #616161;
  border-radius: 3px;
}